body {
    background-color: 85754d;
}
header {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
header a {
    text-decoration: none;
}
header h1 {
    color:  #4b2e83;
}
.jumbotron {
    text-align: center;
    margin-top: 20%;
}